%message {
    font-family: "Work Sans";
    box-sizing: border-box;
}
%heading {
    color: #fbafaf;
    text-shadow: 1px 1px rgb(54, 155, 223);
}
$color: #e0eeee;
body {
    @extend %message;
    background-image: url(IMG_20190610_080049_557.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}
.container {
    background-color: $color;
//     float: none;
    text-align: center;
    ul {
        padding-top: 10px;
        li > .btn:focus {
            background: midnightblue;
        }
    }
}
.collapse {
    font-weight: bold;
}
.index {
    float: left;
    // margin-left: 6px;
    width: 80px;
    height: 80px;
    z-index:1;
}
.avatar {
    background-image: url(IMG_20190610_080049_557.jpg);
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0 auto;
    margin-top: -45px;
    // margin-bottom: 20px;
    border-radius: 999px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    box-shadow: -1px 5px 10px #ffcccc;
    z-index: 10;
}
ul {
    list-style-type: none;
}
.tab {
    display: inline-block;
    padding-right: 20px;
    div {
        background-color: yellow;
        display: none;
    }
    span:hover + div {
        display: block;
    }
}
#contact {
    padding: 0px;
    text-align: center;
    h2 {
        font-size: 80px;
        font-weight: 500;
    }
}
.header {
    text-align: center;
    // background-color: #ffcccc;
    // position: relative;
    // z-index: 1;
}
.head-heading  {
    @extend %heading;
    font-size: 80px;
    font-weight: 350;
    letter-spacing: 24px;
    word-spacing: 25px;
    padding: 0px;
}
#linkss {
    height:auto;
    width: 100%;
    background-color: #ffcccc;
    position: sticky;
    top: 0;
}
.descriptor {
    @extend %heading;
    letter-spacing: 6px;
    word-spacing: 60px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.footer {
    background-color: #ffcccc;
    text-align: right;
    p {
        font-family:Sacramento;
        font-size: 30px;
    }
}
#bottom {
    background-color: #ffcccc;
    text-align: right;
    font-family:Sacramento;
    font-size: 30px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}
@media (max-width: 600px) {
    body{
        background-image: none;
    }
    .header, .head-heading, .descriptor {
        background: #ffcccc;
        color: black;
        text-shadow: 0px 0px black;
        font-weight: 300;
    }
    .container {
        width: 100%;
        height: auto;
    }
}
@media (min-width: 601px) {
    .container {
        width: auto;
        height: 100%;
    }
}